* {
  margin: 0;
  padding: 0;
}
nav {
  text-align: right;
  vertical-align: middle;
  margin-top: 1%;

}

li
{
  list-style-type: none;
  display: inline-block;
  margin: 5px;
  vertical-align: middle;
  font-size: 13px;
}

.connexion {
  padding: 7px;
  background-color: #6495ED;
  color:white;
}

img {
  display: block;
  vertical-align: middle;
  margin-left: 40%;
  margin-top: 100px;
}

input, img {
  display: block;
}

input {
  margin-top: 20px;
  margin-left: 400px;
  font-size: 20px;
  width: 500px;
}

.search, .lucky {
  padding: 5px;
  background-color:#D3D3D3;
  width: 130px;
  display: inline-block;
  color:#696969;
  text-align: center;
  font-size: 13px;
  font-weight: lighter;
  margin-top: 1%;
}

.search {
  margin-left: 500px;
}

.foot {
  width: 100%;
  text-align: left;
  background-color: #EFEFEF;
  height: 40px;
  color: #696969;
  position: absolute;
  bottom: 0;
}

.adv, .priva {
  display: inline-block;
  margin-top: 5px;

}

.priva {
margin-left: 58%;
  display: inline-block;
}

.adv {
  margin-left: 1%;
}

.mail {
  margin-right: 2%;
}
